apiVersion: v1
kind: Secret
metadata:
  name: {{ open_webui_auth_secret_name }}
  namespace: {{ open_webui_namespace }}
type: Opaque
stringData:
  users: |
{{ open_webui_htpasswd_users | indent(4, true) }}
