apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ open_webui_name }}
  namespace: {{ open_webui_namespace }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  ingressClassName: traefik
  rules:
    - host: {{ open_webui_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ open_webui_name }}
                port:
                  number: 80
