apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ open_webui_name }}-ui
  namespace: {{ open_webui_namespace }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.priority: "10"
    traefik.ingress.kubernetes.io/router.middlewares: {{ open_webui_namespace }}-{{ open_webui_auth_middleware_name }}@kubernetescrd
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - {{ open_webui_host }}
      secretName: {{ open_webui_name }}-tls
  rules:
    - host: {{ open_webui_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ open_webui_name }}
                port:
                  number: 8080