apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ open_webui_pvc_name }}
  namespace: {{ open_webui_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ open_webui_pvc_size }}
