apiVersion: v1
kind: Service
metadata:
  name: {{ open_webui_name }}
  namespace: {{ open_webui_namespace }}
spec:
  selector:
    app: {{ open_webui_name }}
  ports:
    - name: http
      port: 80
      targetPort: {{ open_webui_port }}
  type: ClusterIP
