apiVersion: v1
kind: Secret
metadata:
  name: {{ open_webui_name }}-tls
  namespace: {{ open_webui_namespace }}
type: kubernetes.io/tls
data:
  tls.crt: "{{ lookup('file', open_webui_tls_cert) | b64encode }}"
  tls.key: "{{ lookup('file', open_webui_tls_key) | b64encode }}"
